pipeline/1_For_each_set_var.json
{
	"name": "1_For_each_set_var",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM ',pipeline().globalParameters.Schema_Name_gbl,'.',pipeline().parameters.Table_Name)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference",
						"parameters": {
							"Schema_name": {
								"value": "@pipeline().globalParameters.Schema_Name_gbl",
								"type": "Expression"
							},
							"Table_Name": {
								"value": "@pipeline().parameters.Table_Name",
								"type": "Expression"
							},
							"Database__Name": {
								"value": "@pipeline().globalParameters.DataBase_Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName_Var",
								"value": {
									"value": "@item().Table_name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Table_Name": {
				"type": "string"
			}
		},
		"variables": {
			"TableName_Var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Day6"
		},
		"annotations": []
	}
}