pipeline/copy_file_which_has_data.json
{
	"name": "copy_file_which_has_data",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "csv_blob",
						"type": "DatasetReference",
						"parameters": {
							"Container_name": {
								"value": "@pipeline().globalParameters.Input_Container",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.count,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "File_count_not_zero",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "cnt",
								"value": {
									"value": "@activity('Lookup1').output.count",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "File_count_0",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "cnt",
								"value": {
									"value": "@activity('Lookup1').output.count",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_blob",
						"type": "DatasetReference",
						"parameters": {
							"Container_name": {
								"value": "@pipeline().globalParameters.Input_Container",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string"
			}
		},
		"variables": {
			"cnt": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Prject1"
		},
		"annotations": []
	}
}