pipeline/Filter.json
{
	"name": "Filter",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "New_Data",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Data": {
				"type": "array",
				"defaultValue": [
					6,
					5,
					4
				]
			}
		},
		"variables": {
			"New_Data": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Day 7"
		},
		"annotations": []
	}
}