pipeline/Filter_copy1.json
{
	"name": "Filter_copy1",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "New_Data",
					"value": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Data": {
				"type": "array",
				"defaultValue": [
					6,
					5,
					4
				]
			}
		},
		"variables": {
			"New_Data": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "RB/d7"
		},
		"annotations": []
	}
}