pipeline/Filter_and_if_else.json
{
	"name": "Filter_copy1",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Filter1').output.value,4)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "New_Data",
								"value": {
									"value": "@activity('Filter1').output.value",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Data": {
				"type": "array",
				"defaultValue": [
					6,
					5,
					4
				]
			}
		},
		"variables": {
			"New_Data": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Day 7"
		},
		"annotations": []
	}
}