pipeline/Get_Meta_Data_copy1.json
{
	"name": "Get_Meta_Data_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_blob",
						"type": "DatasetReference",
						"parameters": {
							"Container_name": {
								"value": "@pipeline().parameters.cont",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.fn",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"cont": {
				"type": "string"
			},
			"fn": {
				"type": "string"
			}
		},
		"variables": {
			"var1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "RB/d1"
		},
		"annotations": []
	}
}